@font-face {
    font-family: 'Sigmar One', cursive;
    src: url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap") format("SigmaOne");
   font-weight: bold;
   font-style: normal;
 }